---
layout: default
---
<div id=content class=inner>
    {% for post in paginator.posts %}
    <article class="post post-list">
        <div class=meta>
        <div class=date><time>{{ post.date | date: "%F"}}</time></div>
        <div class=comment><a href="{{ post.url }}#comments"></a></div>
        </div>
        <h1 class=title><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="entry-content">
        <p>{{ post.content | strip_html | strip_newlines | truncate: 250 }}</p>
        <p><a href="{{ post.url }}" class="more-link">继续阅读 &raquo;</a></p>
        </div>
    </article>
    {% endfor %}
    {% include pagination.html %}
</div>